.aboutSection {
  width: 100%;
  display: flex;
  align-items: center;
  gap: 2rem;
}

.blockImg {
  width: auto;
  height: auto;
  text-align: center;
}

.blockContent {
  width: 50%;
  padding-right: 3rem;
}

.blockHeader > h3 {
  color: #1F1F1F;
  margin-bottom: 2rem;
}

.blockDesc {
  width: 100%;
}
.blockDesc > p {
  font-size: 1.1rem;
}

@media (max-width: 450px) {
  .aboutSection {
    display: block;
  }
  .blockContent {
    width: 100%;
    padding: 0 1rem;
  }
  .blockHeader {
    text-align: center;
  }

  .blockDesc {
    text-align: justify;
  }
}