
*, *::before, *::after {
  margin: 0;
  padding: 0;
  border: none;
  box-sizing: border-box;
  font-size: 16px;
}

body {
  max-width: 1900px;
  width: 100%;
  margin: 0 auto;
}

.container {
  width: 85%;
  margin: 0 auto;
  /* padding: 0 4rem; */
}

a, a:visited {
  text-decoration: none;
  font-family: inherit;
  transition: color .3s;
  text-transform: uppercase;
}


a:hover {
  color: #7B1E1E;
}

a:focus, a:active {
  outline: none;
}

h1 {
  font-size: 3.5rem;
  color: #4A90E2;
}

h2 {
  font-size: 2.7rem;
  color: #4A90E2;
}

h3 {
  font-size: 2rem;
  color: #4A90E2;
}

h4 {
  font-size: 1.4rem;
  color: #4A90E2;
}

h5 {
  font-size: 1.2rem;
  color: #4A90E2;
}


p {
  font-family: inherit;
  color: #3B3937;
  font-size: 1rem;
}

span {
  font-family: inherit;
  color: #4A90E2;
}

ul {
  list-style: none;
}


img, svg, video {
  display: inline-block;
  vertical-align: top;
  max-width: 100%;
  height: auto;
  object-fit: cover;
}

/* Form */
input, textarea, button, select {
  font-family: "Exo 2", sans-serif;
  font-size: inherit;
  color: black;
}

button, input[type="submit"] {
  display: inline-block;
  box-shadow: none;
  background-color: transparent;
  cursor: pointer;
  transition: background-color .5s ease;
  padding: 0.2rem;
  /* border: solid black 1px; */
  border-radius: 10px;
  transition: .4s;
  transform: all .4s ease;
}

button:hover {
  background-color: #dbe0e7 ;
  border: none;
}

button:active {
  transform: scale(0.9);
}

button::-moz-focus-inner {
  padding: 0;
  border: none;
}

label {
  cursor: pointer;
}

legend {
  display: block;
}

footer {
  color: #fff;
}

strong {
  font-weight: bold;
}

i {
  transform: skew(-15deg)
}


@media (max-width: 820px) {
  .container {
    width: 90%;
  }

  h1 {
    font-size: 2rem;
  }

  h2 {
    font-size: 2rem;
  }

  h3 {
    font-size: 1.5rem;
  }

  h4 {
    font-size: 1.2rem;
  }

  h5 {
    font-size: 1rem;
  }
  
}

@media (max-width: 450px) {
  .container {
    width: 95%;
  }

  h1 {
    font-size: 1.6rem;
  }

  h2 {
    font-size: 1.5rem;
  }

  h3 {
    font-size: 1.3rem;
  }

  h4 {
    font-size: 1.1rem;
  }

  h5 {
    font-size: 1rem;
  }
  
  p {
    font-size: .8rem;
  }
}