.docsBlock {
  width: 100%;
  padding: 1rem 2rem;
}

.docsBlockHeader {
  margin-top: 1rem;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.headerTitle {
  width: 50%;
}

.headerSearch {
  width: 50%;
}

.docksBlockContent {
  margin-top: 2rem;
  width: 100%;
}

.blockContentHeader {
  display: grid;
  grid-template-columns: 80% 20%;
}

.blockContentHeader > p:first-child {
  margin-left: 3rem;
}

.documentItem {
  margin: 1rem 0;
  background-color: #F5F7FA;
  padding: .3rem 1rem;
  border-radius: 12px;
  min-height: 3rem;
  display: flex;
  align-items: center;
  gap: 2rem;
  cursor: pointer;
}