.heroSection {
  width: 100%;
  height: 70vh;
}

.mainBlock {
  width: 100%;
  display: flex;
  align-items: center;
  gap: 2rem;
}

.mainBlockContent {
  width: 50%;
}

.mainBlockImg {
  width: 50%;
  /* flex: 1 1 0%; */
}

.blockHeader {
  margin-bottom: 1rem;
}

.blockDesc * {
  color: #1F1F1F;
  margin-bottom: 2rem;
}

.blockBtn {
  width: 100%;
}

@media (max-width: 820px) {
  .heroSection {
    height: auto;
  }
}


@media (max-width: 450px) {
  .mainBlock {
    display: flex;
    flex-direction: column-reverse;
    width: 100%;
  }
  .mainBlockImg {
    width: 100%;
  }
  .heroSection {
    height: auto;
  }
  .mainBlockContent {
    width: 100%;
  }
  .blockHeader, .blockDesc, .blockBtn {
    padding: 0 2rem;
  }
}