

.blockHeader > h4 {
  color: #1F1F1F;
}

.backBlock {
  padding: .3rem 1rem;
  display: flex;
  align-items: center;
  align-self: flex-end;
  width: 100%;
  cursor: pointer;
  transition: background-color ease .8s;
}

.backBlock:hover {
  background-color: #dbe0e7;
  border-radius: 9px;
}

.backBlock:active {
  transform: scale(.9);
  background-color: #cfd6df;
}

.backImg {
  padding: .4rem .7rem;
}