.advantegesSection {
  width: 100%;
  margin: 2rem 0;
}

.blockContent {
  display: flex;
  flex-direction: column;
}

.blockHeader > h3 {
  color: #1F1F1F;
}

.advanContent {
  display: grid;
  gap: 1rem;
  grid-template-columns: repeat(4, 1fr);
}

.adBlockItem {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
}

.responsiveImage {
  width: 100%;
  height: auto;
}

.itemImg {
  position: relative;     /* обязательно для fill */
  width: 200px;
  height: 200px;
}

.itemContent > p {
  font-size: 1.1rem;
}

@media (max-width: 820px) {
  .advantegesSection {
    margin-bottom: 3rem;
  }
}


@media (max-width: 450px) {
  .advanContent {
    width: 100%;
    display: block;
  }
  .blockHeader {
    text-align: center;
  }
}