.aboutPageContent {
  width: 100%;
}

.aboutSection {
  width: 100%;
}

.aboutHeader {
  width: 100%;
  height: 100%;
}
.mainHeader {
  display: flex;
  align-items: center;
  width: 100%;
  height: 100%;
}

.headerBlock {
  width: 45%;
}

.headerBlock > h1 {
  font-size: 3.1rem;
}

.imgBlock {
  width: auto;
  height: auto;
}

.aboutPageContent {
  width: 100%;
}

.sectionHeader > h2 {
  color: #1F1F1F;
}

.sectionContent {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 1rem;
}


.textBlock {
  width: 40%;
}

.sectionDesc {
  width: 100%;
}
.sectionDesc > p {
  margin-top: 1rem;
  font-size: 1.1rem;
}

.advantagesSection {
  margin-top: 2rem;
  width: 100%;
}


.advItem {
  padding-left: 2rem;
  margin: 2rem 0;
}


@media (max-width: 820px) {
  .sectionContent {
    display: flex;
    flex-direction: column-reverse;
  }
  .textBlock {
    width: 100%;
    text-align: justify;
  }
  /* .mainHeader {
    flex-direction: column;
    align-items: center;
  }

  .headerBlock {
    width: 100%;
    text-align: center;
  }

  .imgBlock {
    width: 100%;
    height: auto;
    margin-top: 1rem;
  }

  .textBlock {
    width: 100%;
    text-align: center;
  }

  .sectionDesc > p {
    font-size: 1rem;
  } */
  
}

@media (max-width: 450px) {
  .mainHeader {
    display: flex;
    flex-direction: column-reverse;
    margin-bottom: 1rem;
  }
  .headerBlock {
    width: 100%;
    text-align: center;
  }
  .aboutPageContent {
    padding: 0 1rem;
  }
  .textBlock {
    width: 100%;
  }
  .advItem {
    padding-left: 0;
  }
  .advantagesSection {
    margin-top: 1rem;
  }
  .sectionContent {
    margin-top: 0;
  }
}